#root {
  height: 100%;
}

.App {
  height: 100%;
}

.login-page {
  background: #ececec;
  display: flex;
  justify-content: center;
  height: 100%;
}

.public-pages {
  width: 100%;
  height: 100%;
  min-width: 1300px;
  background: #ececec;
  justify-content: center;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
}

.home-pages {
  width: 100%;
  height: 100vh;
  min-width: 800px;
  background: #ffffff;
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
}

/* REQUIRED DO NOT DELETE */
.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}
/* Myamar Font Unicode: https://mmwebfonts.comquas.com/
MMWebFonts can't support on Opera and Android Native Browser */
@font-face {
  font-family: "Myanmar3";
  src: local("Myanmar3"),
    url("https://mmwebfonts.comquas.com/fonts/myanmar3.woff") format("woff"),
    url("https://mmwebfonts.comquas.com/fonts/myanmar3.ttf") format("ttf");
}

h2 {
  font-style: italic;
  font-family: Impact;
  font-size: 30px;
  color: #312d2d;
  opacity: 0.8;
  text-transform: uppercase;
  margin-right: 20px;
}

h3 {
  font-style: italic;
  font-family: Impact;
  font-size: 18px;
  color: #312d2d;
  opacity: 0.8;
  text-transform: uppercase;
  text-decoration: underline;
}

div.pageHeaderContainer {
  position: absolute;
  width: 40%;
  height: 45px;
  right: 10px;
  vertical-align: middle;
  text-align: right;
}

.ant-carousel .slick-slide {
  text-align: center;
  line-height: 60px;
  background: #312d2d;
  overflow: hidden;
}

/* END REQUIRED DO NOT DELETE */
