#root {
  height: 100%;
}

.App {
  height: 100%;
}

.login-page {
  background: #ececec;
  display: flex;
  justify-content: center;
  height: 100%;
}

.home-pages {
  background: #ececec;
  display: flex;
}

/* Myamar Font Unicode: https://mmwebfonts.comquas.com/
MMWebFonts can't support on Opera and Android Native Browser */
@font-face {
  font-family: "Myanmar3";
  src: local("Myanmar3"),
    url("https://mmwebfonts.comquas.com/fonts/myanmar3.woff") format("woff"),
    url("https://mmwebfonts.comquas.com/fonts/myanmar3.ttf") format("ttf");
}
